.gallery {
  width: 650px;
  margin: 20px auto;
  text-align: center;
}

#mainImage {
  width: 600px;
  border-radius: 10px;
  margin-bottom: 15px;
}

#thumbnails img {
  width: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform .2s;
}

#thumbnails img:hover {
  transform: scale(1.1);
}
