body {
    font-family: Arial, sans-serif;
    background: #f0f4f5;
}

.container {
    width: 350px;
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

#taskInput {
    width: 65%;
    padding: 8px;
}

#addBtn {
    padding: 8px 12px;
}

li {
    margin-top: 10px;
    background: #eee;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

button {
    margin-left: 10px;
    cursor: pointer;
}

.edit { background: #2196F3; color: white; }
.delete { background: red; color: white; }
